@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Privacy Policy – Spark Developments</h2>
<p>This Privacy Policy explains how Spark Developments collects, uses, and protects any information that you provide when you use this website or our services.</p>

<p><b>Our contact details are:</b><br />
    Spark Developments<br />
    Unit 10, Meden Road,<br />
    Boughton,<br />
    Newark,<br />
    Nottinghamshire,<br />
    England NG22 9ZD<br />
    Phone: 07516 783 331<br />
    Email: <a href="mailto:jamie@sparkdevelopments.co.uk">jamie@sparkdevelopments.co.uk</a><br />
    Website: <a href="https://www.sparkdevelopments.co.uk" target="_blank">www.sparkdevelopments.co.uk</a>
</p>

<h4>1. What We Collect</h4>
<p>We may collect the following information:</p>
<ul>
    <li>Name and contact information including email address and phone number</li>
    <li>Billing and delivery address details</li>
    <li>Order and transaction history</li>
    <li>Demographic information such as postcode and preferences</li>
    <li>Other information relevant to customer surveys or service enquiries</li>
</ul>

<h4>2. What We Do With the Information We Gather</h4>
<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
<ul>
    <li>Internal record keeping and order management</li>
    <li>Improving our products and services</li>
    <li>Sending promotional emails about new products, special offers or other information which we think you may find interesting, using the email address which you have provided (where you have given consent)</li>
    <li>Contacting you for market research purposes by email, phone or mail</li>
    <li>Customising the website according to your interests</li>
</ul>

<h4>3. Security</h4>
<p>We are committed to ensuring that your information is secure and handled in accordance with the UK General Data Protection Regulation (UK GDPR) and the Data Protection Act 2018. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. In the event of a data breach that is likely to result in a risk to your rights and freedoms, we will notify you and the relevant supervisory authority as required by law.</p>

<h4>4. How We Use Cookies</h4>
<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Cookies allow web applications to respond to you as an individual. We use the following types of cookies:</p>
<ul>
    <li><b>Essential cookies</b> – required for the website to function correctly (e.g., session management and login). These cannot be disabled.</li>
    <li><b>Analytics cookies</b> – traffic log cookies used to identify which pages are being used. We only use this information for statistical analysis and the cookies expire at the end of each session.</li>
</ul>
<p>We do not use third-party advertising cookies. You can choose to accept or decline non-essential cookies via your browser settings.</p>

<h4>5. Links to Other Websites</h4>
<p>Our website may contain links to other websites of interest, including <a href="https://www.sparkdevelopments.co.uk" target="_blank">www.sparkdevelopments.co.uk</a>. However, once you have used these links to leave our site, you should note that we do not have any control over those other websites and we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites.</p>

<h4>6. Controlling Your Personal Information</h4>
<p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
<ul>
    <li>Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
    <li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at <a href="mailto:jamie@sparkdevelopments.co.uk">jamie@sparkdevelopments.co.uk</a></li>
</ul>
<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.</p>
<p>You may request details of personal information which we hold about you. If you would like a copy of the information held on you, please write to Spark Developments, Unit 10, Meden Road, Boughton, Newark, Nottinghamshire, England NG22 9ZD or email <a href="mailto:jamie@sparkdevelopments.co.uk">jamie@sparkdevelopments.co.uk</a>.</p>
<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.</p>

<h4>7. Governing Law</h4>
<p>This Privacy Policy is governed by the laws of England and Wales.</p>
